body {
  background-color: #1c1c1c; 
  color: white; 
  margin: 0;
}

.div_main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section_calculadora {
  background-color: #282828;
  border-radius: 10px;
  padding: 4vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input_ {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.txtArea_ {
  flex: 1;
  width: 30%;
  height: 100px;
  padding: 10px;
  margin-right: 1vw;
  border: 1px solid #505050;
  color: #1c1c1c;
  border-radius: 4px;
  resize: none;
}

.btn_digito {
  width: 20%;
  padding: 2vw;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.div_btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.div_btn button {
  width: 100%;
  padding: 2vw;
  color: white;
  background-color: #555; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.div_btn button:hover {
  background-color: #777; 
}

.h1_error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: red;
}
